<mat-spinner *ngIf="loading" class="spinner" diameter="50">
</mat-spinner>
<h1 *ngIf="!loading">Registro Empresa</h1>

<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()">

    <div class="empresa">
        <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <input matInput formControlName="nombre" #nombre>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>CIF</mat-label>
            <input matInput formControlName="cif" #cif>
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" #telefono>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion" #direccion>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <input matInput formControlName="descripcion" #descripcion>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>WEB</mat-label>
        <input matInput formControlName="enlaceWeb" #enlaceWeb>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" #email>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" #password>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div class="buttons">
        <button type="submit" class="btnRegistrarse" mat-raised-button (click)="add(email.value,cif.value,nombre.value,descripcion.value,telefono.value,direccion.value,enlaceWeb.value)">Registrarse</button>
    </div>

</form>