<div class="toolbar" role="banner">
    <span>¿Quiénes somos?</span>
    <div class="spacer"></div>
    <span [routerLink]="['politicaPrivacidad']">Política de privacidad</span>
    <!--<a [routerLink]="['politicaPrivacidad']">Política de privacidad</a>-->
    <div class="spacer"></div>
    <span>Contacto</span>

    <a class="logo-link" title="FACEBOOK Logo" [routerLink]="['www.facebook.com']">
        <title>FACEBOOK Logo</title>
        <mat-icon id="facebook">construction</mat-icon>
    </a>
    <a class="logo-link" title="TWITTER Logo" [routerLink]="['www.twitter.com']">
        <title>TWITTER Logo</title>
        <mat-icon id="twitter">construction</mat-icon>
    </a>
    <a class="logo-link" title="INSTAGRAM Logo" [routerLink]="['www.instagram.com']">
        <title>INSTAGRAM Logo</title>
        <mat-icon id="instagram">construction</mat-icon>
    </a>
    
</div>