<p>Política de privacidad

    La protección de los datos de carácter personal es una de las preocupaciones de mayor importancia para esta organización.
    
    En nuestro día a día nos esforzamos para proteger la privacidad de los datos que nos facilita y  cumplir con la normativa vigente en materia de protección de datos de carácter personal.
    
    El objetivo de esta política es informar a los interesados acerca de los distintos tratamientos realizados por esta organización y que afecten a  sus datos personales de conformidad con lo establecido en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y garantía de los derechos digitales y el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016.</p>
